{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">
    Edit Appointment
</h2>

<form method="POST"
      class="card p-4 shadow">

    <div class="mb-3">

        <input
            type="text"
            name="patient_name"
            class="form-control"
            value="{{ appointment.patient_name }}"
            required
        >

    </div>

    <div class="mb-3">

        <input
            type="text"
            name="doctor_name"
            class="form-control"
            value="{{ appointment.doctor_name }}"
            required
        >

    </div>

    <div class="mb-3">

        <input
            type="date"
            name="appointment_date"
            class="form-control"
            value="{{ appointment.appointment_date }}"
            required
        >

    </div>

    <div class="mb-3">

        <select
            name="status"
            class="form-select">

            <option value="Pending">
                Pending
            </option>

            <option value="Completed">
                Completed
            </option>

            <option value="Cancelled">
                Cancelled
            </option>

        </select>

    </div>

    <button class="btn btn-success">

        Update Appointment

    </button>

</form>

{% endblock %}